@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark-bg-color);
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  color: var(--dark-white-text-color);
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--dark-white-text-color);
  position: relative;
  text-transform: capitalize;
}

p {
  font-size: 1.625rem;
  font-weight: 500;
  color: var(--dark-white-text-color);
}

a {
  text-decoration: none;
}

h2::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 0;
  height: 7.65px;
  width: 100%;
  background: var(--main-gradient);
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
}

ul{
  list-style: none;
}

h3{
  font-size: 24px;
  color: var(--dark-white-text-color);
  font-weight: 600;
}

h4{
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 245, 245, 59%);
  margin-top: 10px;
  margin-bottom: 16px;
}