@import url('./_variables.css');
@import url('./_globals.css');


.container {
  max-width: 1440px;
  width: calc(100% - 15%);
  margin: 0 auto;
}

.img--none {
  display: none;
}

.show {
  opacity: 1;
}

.fade--out {
  opacity: 0;
}

.link {
  display: inline-block;
  transition: text-shadow ease 0.5s;
  -webkit-transition: text-shadow ease 0.5s;
  -moz-transition: text-shadow ease 0.5s;
  -ms-transition: text-shadow ease 0.5s;
  -o-transition: text-shadow ease 0.5s;
}

.list__text {
  font-size: 16px;
}

.text--main {
  color: var(--dark-main-text-color);
}

.text--white {
  color: var(--dark-white-text-color);
}

.text--center {
  text-align: center;
}

.btn {
  border: none;
  padding: 12px 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.bg--cyn {
  background-color: var(--btn-bg);
  box-shadow: var(--btn-small-shadow);
  transition: box-shadow 0.5s;
  animation: glowing 2s infinite ease-in alternate;
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -ms-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
  -webkit-animation: glowing 2s infinite ease-in alternate;
}

.bg--cyn:hover {
  box-shadow: var(--btn-shadow);
}

.text--primary {
  color: var(--primary);
}

@keyframes glowing {
  from {
    box-shadow: var(--btn-small-shadow);
  }

  to {
    box-shadow: var(--btn-shadow);
  }
}

.rounded--full {
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
}

.items--flex {
  display: flex;
  align-items: center;
}

.icons--gap {
  gap: 1.25rem;
}

.items--flex--column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.items--center {
  justify-content: center;
  align-items: center;
}

.items--start {
  justify-content: flex-start;
  align-items: flex-start;
}

.items--end {
  justify-content: flex-end;
  align-items: flex-end;
}

.items--center-between {
  justify-content: space-between;
  align-items: center;
}

.scrolled {
  backdrop-filter: blur(5px);
  background-color: #212a54;
}

.text--height {
  line-height: 44px;
}

.badge--gap {
  gap: 0.5rem;
}

.badge__text {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--primary);
}

.position--relative {
  position: relative;
}

.position--absolute {
  position: absolute;
}

.gap {
  gap: 3rem;
}

.gap-2 {
  gap: 2rem;
}

.overflowX--hidden {
  overflow-x: hidden;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 48px;
  width: 100%;
}

.card {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  box-shadow: var(--card-shadow);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.card--blur {
  background-color: rgba(var(--card-bg), 72%);
  backdrop-filter: blur(5);
}

.section--cover {
  background-size: cover;
  background-repeat: no-repeat;
}

.section--padding {
  padding: 10rem 0;
}

.list--gap {
  gap: 1rem;
}


.rounded--8 {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.toast {
  position: fixed;
  right: -100%;
  top: 130px;
  z-index: 9999999999999;
  background-color: #525d8f;
  transition: right 0.5s;
  padding: 20px 20px;
  color: var(--dark-secondary-text-color);
  min-width: 350px;
  font-size: 16px;
  border-top: 5px solid var(--dark-main-text-color);
  box-shadow: var(--container-shadow);
  -webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  -ms-transition: right 0.5s;
  -o-transition: right 0.5s;
}

.glow {
  position: fixed;
  z-index: 999999999;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  filter: blur(100px);
  background: radial-gradient(circle, var(--glow) 10%, rgba(255, 255, 255, 0) 80%);
  box-shadow: 0 0 20px 5px var(--glow), 0 0 40px 10px var(--glow), 0 0 60px 15px var(--glow);
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s linear;
  -webkit-filter: blur(100px);
  -webkit-transition: transform 0.1s linear;
  -moz-transition: transform 0.1s linear;
  -ms-transition: transform 0.1s linear;
  -o-transition: transform 0.1s linear;
}

.to-top{
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color:var(--card-bg);
  box-shadow: var(--card-shadow);
  border: none;
  opacity: 0;
  transition: opacity 1s;
  bottom: 50px;
  right: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
}

/* Nav */
.nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.nav__container {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list--aligned-center {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.nav__link {
  color: var(--dark-white-text-color);
  font-size: 18px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 600;
}

.link:hover {
  text-shadow: var(--text-shadow);
}

.nav__image {
  max-width: 100%;
  height: auto;
}


.menu__btn {
  background: transparent;
  display: none;
}


.nav__list {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}


/* HEADER */
.header {
  overflow: hidden;
  height: 100vh;
  background-image: url(../../../assets/images/header/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header__content {
  transition: 3s;
}

.header__items--grid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}

.img__flex--end {
  display: flex;
  justify-content: flex-end;
}

.icon__link {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -ms-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
}

.icon__link:hover {
  box-shadow: 0px 0px 20px var(--secondary);
}

.badge {
  background-color: rgba(245, 245, 245, 65%);
  backdrop-filter: blur(2px);
  height: fit-content;
  padding: 18px 28px;
  transform: translateX(-50%);
  opacity: 0;
  animation: slideIn 1s forwards;
  z-index: 5;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.badge__creative {
  bottom: 60px;
  right: 0;
  animation-delay: 0.5s;
}

.badge__code {
  bottom: 0;
  animation-delay: 1s;
}

.badge__ux {
  bottom: 25%;
  left: -120px;
  animation-delay: 1.5s;
}

.badge__vscode {
  top: 25%;
  left: -120px;
  animation-delay: 2s;
}

.badge__details {
  top: -20px;
  right: 0;
  animation-delay: 2.5s;
}

.square--top {
  top: -22px;
  left: -10px;
  z-index: 0;
}

.square--right {
  right: -60px;
  z-index: 0;
  bottom: 60px;
}

.square--bottom {
  left: -75px;
  z-index: 0;
  bottom: -70px;
}

.img {
  position: relative;
  z-index: 4;
  transition: 3s;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
}

.eclips {
  position: absolute;
  bottom: -500px;
  z-index: 0;
}

.eclips--bottom-left {
  bottom: -50%;
  left: -20%;
  z-index: 0;
  filter: blur(22px);
}

.header__items--grid.position--relative {
  z-index: 1;
}

/* ABOUT */
.about {
  background-image: url(../../../assets/images/about/about-cover.png);
}

.about__container {
  width: 80%;
  margin: auto;
}

.about__text {
  font-size: 1.2rem;
  font-weight: 400;
  margin: auto;
}

.card {
  transition: all 0.5s;
  opacity: 0;
  position: relative;
  left: -100px;
  transform: translate(-50%, 0) rotate3d(0);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transform: translate(-50%, 0) rotate3d(0);
  -moz-transform: translate(-50%, 0) rotate3d(0);
  -ms-transform: translate(-50%, 0) rotate3d(0);
  -o-transform: translate(-50%, 0) rotate3d(0);
}

.card::before {
  content: '';
  position: absolute;
  bottom: -30px;
  width: 70%;
  height: 20px;
  z-index: 0;
  background-color: var(--dark-secondary-text-color);
  opacity: 0;
  transition: opacity 500ms;
  filter: blur(30px);
  border-radius: 50%;
  z-index: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-filter: blur(30px);
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  -o-transition: opacity 500ms;
}

.card:hover::before {
  opacity: 0.45;
}

.card:hover {
  transform: translate(0) rotate3d(0, 1, 0.2, 15deg);
  -webkit-transform: translate(0) rotate3d(0, 1, 0.2, 15deg);
  -moz-transform: translate(0) rotate3d(0, 1, 0.2, 15deg);
  -ms-transform: translate(0) rotate3d(0, 1, 0.2, 15deg);
  -o-transform: translate(0) rotate3d(0, 1, 0.2, 15deg);
}

/* EXPERIENCE */

.experience .eclips {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1200px;
  z-index: -1;
  display: flex;
  align-items: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.experience .eclips img {
  width: 100%;
}

.experience .square {
  position: absolute;
  top: 18%;
  left: -33px;
}

.experience .circles {
  position: absolute;
  top: 20%;
  right: -4%;
}

.experience__timeline {
  margin-top: 7rem;
  max-width: 1200px;
  width: 100%;
}

.experience__timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 80%;
  background: linear-gradient(to bottom, #fff, #ffffff70);
  top: 60px;
  bottom: 0;
  border-radius: 8px;
  left: 50%;
  margin-left: -3px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.timeline__item {
  margin-bottom: 3rem;
  position: relative;
  width: 50%;
}

.timeline__item:nth-of-type(even) {
  left: 50%;
}

.timeline__item::after {
  content: '';
  position: absolute;
  z-index: 5;
  width: 95px;
  top: 60px;
  height: 95px;
  background-color: var(--dark-secondary-text-color);
  background-repeat: no-repeat;
  background-position: 50%;
  box-shadow: 0px 0 21.4px #88E9FF;
  border-radius: 50%;
}

.timeline__item:nth-of-type(1)::after {
  background-image: url(../../assets/icons/dclickltd.svg);
}

.timeline__item:nth-of-type(2)::after {
  background-image: url(../../assets/icons/knowledgeAc.svg);
}

.timeline__item:nth-of-type(3)::after {
  background-image: url(../../assets/icons/knowledgeAc.svg);
}

.timeline__item:nth-of-type(4)::after {
  background-image: url(../../assets/icons/dimentions.ico);
}

.work__duration {
  position: absolute;
  width: 100%;
  max-width: 190px;
  top: 100px;
  color: var(--dark-white-text-color);
  font-weight: 600;
  font-size: 18px;
}

.timeline__item:nth-of-type(odd)::after {
  right: -45px;
}

.timeline__item:nth-of-type(even)::after {
  left: -45px;
}

.timeline__item:nth-of-type(odd) .work__duration {
  right: -55%;
}

.timeline__item:nth-of-type(even) .work__duration {
  left: -55%;
}

.timeline__card {
  padding: 50px 55px;
  width: 80%;
  max-width: 480px;
  background-color: rgba(112, 115, 165, 35%);
  backdrop-filter: blur(5px);
  border-top: 6px solid #9d6cfe;
  gap: 1rem;
  transition: all 0.8s;
  transform: translate(-50%) scale(1.2);
  opacity: 0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  -webkit-transform: translate(-50%) scale(1.2);
  -moz-transform: translate(-50%) scale(1.2);
  -ms-transform: translate(-50%) scale(1.2);
  -o-transform: translate(-50%) scale(1.2);
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
}

.timeline__item:nth-of-type(odd) .timeline__card {
  margin-right: 7rem;
}

.timeline__item:nth-of-type(even) .timeline__card {
  margin-left: 7rem;
}


.timeline__list--gap {
  gap: 12px;
}

.timeline.items--flex {
  gap: 7rem;
}



.timeline.items--flex {
  align-items: flex-start;
}

.timeline__company {
  margin-top: 60px;
  grid-column: span 2;
  justify-items: start;
}


.list__text {
  font-size: 1rem;
  font-weight: 400;
}


/* SKILLS */

.carousel {
  overflow: hidden;
  height: 140px;
  position: relative;
}

.inner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 10));
  align-items: center;
  justify-content: center;
  gap: 16px;
  pointer-events: none;
  /* transition: left 0.3s ease; */
}

.carousel .item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item img {
  height: auto;
  display: block;
  text-align: center;
  user-select: none;
}

/* PROJECTS */
.projects h4 {
  margin-bottom: 0;
}

.project{
  opacity: 0;
  transform: scale(0.8);
  transition: all 1s;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.projects__items {
  width: 100%;
}

.projects__items.gap {
  gap: 8rem;
}

.project__card {
  padding: 30px;
}

.project__card p {
  font-size: 14px;
}

.project__card.card--blur {
  background: radial-gradient(at center, #fff2f274, #7073a5cf);
  backdrop-filter: blur(4px);
}

.project__card p:first-child {
  margin-bottom: 2rem;
}

.project__techs {
  margin-top: 2rem;
}

.project__techs.items--flex {
  gap: 0.5rem;
}

.tech__image {
  width: 28px;
  height: 28px;
}

.project {
  padding-block: 2rem;
  position: relative;
  z-index: 0;
  width: 100%;
}

.project.items--flex {
  align-items: end;
}

.project__card {
  position: relative;
  z-index: 5;
  width: 120%;
  min-width: 780px;
}

.project__card::after {
  content: '';
  position: absolute;
  top: -20px;
  left: 0;
  width: 300px;
  height: 300px;
  background: radial-gradient(at center, rgba(233, 176, 255, 0.2), rgba(54, 223, 241, 0.2));
  opacity: 0.4;
  filter: blur(20px);
  border-radius: 50%;
  -webkit-filter: blur(20px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: -1;
}

.project__card:nth-of-type(even)::after {
  left: inherit;
  right: 0;
}

.project__image {
  position: relative;
  top: 30px;
}

.project__image::after {
  content: '';
  position: absolute;
  top: -23%;
  left: 0;
  width: 100%;
  height: 150%;
  background: radial-gradient(at center, rgba(233, 176, 255, 0.2), rgba(54, 223, 241, 0.2));
  opacity: 0.6;
  filter: blur(50px);
  border-radius: 50%;
  -webkit-filter: blur(50px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: -1;
}

.project__image.smg::after {
  top: 0;
  left: -20%;
  width: 150%;
  height: 120%;
}

.project__link::before {
  content: '';
  position: absolute;
  top: 45px;
  left: 25px;
  width: 30px;
  height: 30px;
  z-index: 0;
  background-color: var(--dark-secondary-text-color);
  opacity: 0;
  animation: linkGlow 2s ease-in-out alternate-reverse infinite;
  transition: opacity 500ms;
  filter: blur(20px);
  border-radius: 50%;
  z-index: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-filter: blur(20px);
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -webkit-animation: linkGlow 2s ease-in-out alternate-reverse infinite;
}

@keyframes linkGlow {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.project__link:hover::before {
  opacity: 1;
}

.project__image img {
  width: 100%;
}

/* CONTACT */
.contact__wrapper {
  width: 80%;
  margin: auto;
  border-radius: 25px;
  background-color: rgba(var(--card-bg), 10%);
  box-shadow: var(--container-shadow);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.contact {
  overflow: hidden;
}

.contact__form {
  width: 55%;
  z-index: 4;
}

.contact__form.items--flex--column {
  gap: 1rem;
}

.contact__wrapper iframe {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 2;
}

.input__wrapper.items--flex--column {
  gap: 0.5rem;
  height: 100%;
}

.contact__wrapper::before {
  content: '';
  position: absolute;
  background-color: var(--primary);
  width: 50%;
  top: 0;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  z-index: 3;
  backdrop-filter: blur(2px);
  clip-path: polygon(0 1%, 76% 0, 100% 100%, 0% 100%);
  height: 451px;

}

.text__top {
  position: relative;
  z-index: 3;
}

.form__btn {
  font-size: 14px;
  width: fit-content;
  margin-top: 20px;
  position: relative;
  cursor: pointer;
  box-shadow: inset 0 0 9px var(--btn-bg);
}

.form__btn:hover::before {
  width: 100%;
  opacity: 1;
}

.form__btn::before {
  content: '';
  position: absolute;
  width: 20%;
  opacity: 0;
  height: 100%;
  transition: all 0.5s;
  top: 0;
  left: 0;
  background-color: var(--btn-bg);
  border-radius: 99999px;
  -webkit-border-radius: 99999px;
  -moz-border-radius: 99999px;
  -ms-border-radius: 99999px;
  -o-border-radius: 99999px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  opacity: 0;
  animation: twinkle 2s infinite ease-in-out alternate;
}

@keyframes twinkle {
  0% {
    opacity: 0;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
}


/* FOOTER */
.footer {
  padding-block: 4rem;
}

.footer p {
  font-size: 18px;
}